<h1>{{viewTitle}}</h1>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>

<form action="/auto" method="get" autocomplete="off">
    <div class="form-group">
        <a class="btn btn-secondary" href="/auto/listProduct"><i class="fa fa-list-alt"></i> View All Products</a>
        <a class="btn btn-secondary" href="/auto/listPersonal"><i class="fa fa-list-alt"></i> View All Personal</a>
        <a class="btn btn-secondary" href="/auto/listDepts"><i class="fa fa-list-alt"></i> View All Depts</a>
        <a class="btn btn-secondary" href="/auto/listTesting"><i class="fa fa-list-alt"></i> View All Testing</a>
        <a class="btn btn-secondary" href="/auto/listLab"><i class="fa fa-list-alt"></i> View All Lab</a>
    </div>
</form>